<h1><%= @task.title %></h1>
<p><%= @task.detail %></p>
<p><%= @task.completed %></p>
<%= link_to 'index',tasks_path %>
<%= link_to 'delete',task_path(@task),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
